doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/editUser.css')
  body
    block content
      h1= title
      form(method='post' autocomplete="off")
        .container
          .input-container
            label(for='uname')
                b Username
            input(type='text' placeholder='Enter Username' name='uname' required='' value=name)
          .input-container
            label(for='tel')
                b Tel number
            input(type='tel' value=tel placeholder='Enter Phone Number' name='tel' required='' pattern="[0-9]{12}" maxlength="12")
          .input-container
            label(for='url')
                b URL
            input(type='text' name='url' value=url maxlength="20")
          .input-container
            label(for='active')
                b Active
            input(type='checkbox' name='active' disabled=(id==1) checked=active)
          .hidden(hidden)
            input(type='text' name='id' value=id)
          .buttons
            button(type='submit') Save
            button(onclick="cancel()") Cancel

    script(src="/js/editUser.js")

